/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-height: 100vh;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: 1px;
  margin: 0;
}

:root {
  --heading-font: "DM Serif Display", serif;
  --body-font: "DM Sans", sans-serif;
  --primary-color: #ff0969;
  --secondary-color: #d3e2f2;
  --tertiary-color: #0b379b;
  --header-navigation: #fff;
  --header-navigation-link: #111;
  --article: #fff;
  --article-heading: #111;
  --article--body: #666;
  --heading-color: #111;
  --body-color: #666;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: 1px;
  z-index: 99999;
  font-family: var(--body-font);
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}
.skip-link:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  font-family: var(--body-font);
  background-color: var(--header-navigation);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  max-width: 65rem;
  margin: auto;
}
.nav__inner--logo img {
  height: 60px;
}
@media screen and (max-width: 60rem) {
  .nav__inner--logo img {
    height: 40px;
  }
}
.nav__inner--links ul {
  display: flex;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 60rem) {
  .nav__inner--links ul {
    display: none;
  }
}
.nav__inner--links ul li.btn-follow a {
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.nav__inner--links ul li + li {
  margin-left: 1.25rem;
}
.nav__inner--links ul li a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--header-navigation-link);
}
@media screen and (min-width: 60rem) {
  .nav__inner--mobile {
    display: none;
  }
}
.nav__inner--mobile button svg {
  vertical-align: middle;
}

.wrapper {
  margin-top: 5rem;
}
.wrapper__header {
  padding: 8.5rem 3.5rem;
}
@media screen and (max-width: 60rem) {
  .wrapper__header {
    padding: 3.5rem 1.85rem;
  }
}
.wrapper__header--inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
}
@media screen and (max-width: 60rem) {
  .wrapper__header--inner {
    flex-direction: column-reverse;
  }
}
.wrapper__header--inner__desc {
  font-family: var(--body-font);
}
@media screen and (min-width: 60rem) {
  .wrapper__header--inner__desc {
    margin-right: 5rem;
  }
}
.wrapper__header--inner__desc h1 {
  font-size: 1.65em;
  font-weight: normal;
  font-family: var(--heading-font);
  margin-bottom: 1rem;
}
.wrapper__header--inner__desc p {
  color: var(--body-color);
}
.wrapper__header--inner__desc .btn-join {
  background-color: var(--primary-color);
  margin-top: 1.5rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.85rem 1.25rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 60rem) {
  .wrapper__header--inner__img {
    margin-bottom: 2.5rem;
  }
}
.wrapper__header--inner__img img {
  width: 100%;
}
.wrapper__featured {
  background-color: var(--secondary-color);
  padding: 6.5rem 3.5rem;
  font-family: var(--body-font);
}
@media screen and (max-width: 60rem) {
  .wrapper__featured {
    padding: 3.5rem 1.85rem;
  }
}
.wrapper__featured--inner {
  max-width: 60rem;
  margin: 0 auto;
}
.wrapper__featured--inner__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.85rem;
}
.wrapper__featured--inner__head h1 {
  font-family: var(--heading-font);
  font-weight: normal;
}
.wrapper__featured--inner__head .btn-show {
  display: inline-flex;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: var(--header-navigation-link);
  text-decoration: none;
  padding: 0.65rem 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.wrapper__featured--inner__head .btn-show svg {
  vertical-align: middle;
}
.wrapper__featured--inner__head .btn-show .sr-hidden {
  margin-right: 0.5rem;
}
@media (max-width: 60rem) {
  .wrapper__featured--inner__head .btn-show .sr-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    width: 1px;
    margin: 0;
  }
}
.wrapper__featured--inner__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
.wrapper__featured--inner__content .grid-content {
  background-color: var(--article);
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.wrapper__featured--inner__content .grid-content .body__text {
  padding: 2.5rem 2.5rem;
}

.footer {
  padding: 3.5rem 1.5rem;
  font-family: var(--body-font);
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  max-width: 60rem;
  margin: auto;
}
@media screen and (max-width: 60rem) {
  .footer__inner {
    grid-template-columns: repeat(1, 1fr);
  }
}
.footer__inner--grid h2 {
  font-family: var(--heading-font);
  font-weight: normal;
  margin-bottom: 1.5rem;
}
.footer__inner--grid ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__inner--grid ul li + li {
  margin-top: 0.35rem;
}
.footer__inner--grid ul li a {
  color: var(--primary-color);
}
.footer__inner--grid__groupimg {
  display: flex;
}
.footer__inner--grid__groupimg img {
  height: 60px;
  border: 5px solid #ccc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.footer__inner--grid__groupimg figure + figure {
  margin-left: -0.5rem;
}

@media screen and (max-width: 60rem) {
  html {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
