/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: 1px;
  margin: 0;
}

.capsule-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem -0.5rem !important;
  padding: 0;
}
.capsule-links li {
  display: block;
  margin: 0rem 0 1.5rem 0.5rem;
}
.capsule-links li + li {
  margin-top: 0 !important;
}
.capsule-links li a {
  padding: 0.45rem 0.95rem;
  font-size: 0.95em;
  text-decoration: none;
  background-color: var(--primary-color);
  color: white !important;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

:root {
  --heading-font: "DM Serif Display", serif;
  --body-font: "DM Sans", sans-serif;
  --primary-color: #ff0969;
  --secondary-color: #d3e2f2;
  --tertiary-color: #0b379b;
  --header-navigation: #fff;
  --header-navigation-link: #111;
  --article: #fff;
  --article-heading: #111;
  --article--body: #666;
  --heading-color: #111;
  --body-color: #666;
}

.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: 1px;
  z-index: 99999;
  font-family: var(--body-font);
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}
.skip-link:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  font-family: var(--body-font);
  background-color: var(--header-navigation);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
  z-index: 999;
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .nav {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.85);
  }
}
.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2.5rem;
  max-width: 65rem;
  margin: auto;
}
@media screen and (max-width: 60rem) {
  .nav__inner {
    padding: 1rem 1rem;
  }
}
.nav__inner--logo img {
  height: 60px;
}
@media screen and (max-width: 60rem) {
  .nav__inner--logo img {
    height: 40px;
  }
}
.nav__inner--links ul {
  display: flex;
  align-items: center;
  list-style: none;
}
@media screen and (max-width: 60rem) {
  .nav__inner--links ul {
    display: none;
  }
}
.nav__inner--links ul li.btn-follow a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--header-navigation-link);
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.nav__inner--links ul li.btn-follow a:hover {
  background-color: var(--primary-color);
  color: var(--header-navigation);
}
.nav__inner--links ul li + li {
  margin-left: 1.25rem;
}
.nav__inner--links ul li:not(.btn-follow) a {
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--header-navigation-link);
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.nav__inner--links ul li:not(.btn-follow) a:hover:before {
  width: calc(100% - 32px);
}
.nav__inner--links ul li:not(.btn-follow) a:before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 16px;
  background-color: var(--primary-color);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media screen and (min-width: 60rem) {
  .nav__inner--mobile {
    display: none;
  }
}
.nav__inner--mobile button {
  background: transparent;
  cursor: pointer;
  border: 0;
}
.nav__inner--mobile button svg {
  vertical-align: middle;
}
.nav__inner--mobile .wrapper__mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-color: var(--header-navigation);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  z-index: 9999;
}
.nav__inner--mobile .wrapper__mobile.is-shown {
  opacity: 1;
  visibility: visible;
}
@media screen and (min-width: 60rem) {
  .nav__inner--mobile .wrapper__mobile {
    display: none;
  }
}
.nav__inner--mobile .wrapper__mobile li {
  margin-right: 1.85rem;
  margin-left: 1.85rem;
}
.nav__inner--mobile .wrapper__mobile li.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  margin: 1.15rem;
}
.nav__inner--mobile .wrapper__mobile li.btn-follow a {
  display: inline-block;
  margin-top: 2rem;
}
.nav__inner--mobile .wrapper__mobile li.btn-follow a span {
  padding: 0.85rem 1.25rem;
  text-decoration: none;
  color: var(--header-navigation-link);
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.nav__inner--mobile .wrapper__mobile li + li {
  margin-top: 1.5rem;
}
.nav__inner--mobile .wrapper__mobile li a {
  text-decoration: none;
  font-size: 1.25em;
  display: block;
  color: var(--header-navigation-link);
}

.wrapper {
  margin-top: 6.5rem;
}
.wrapper__posts {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 30rem;
  gap: 3.5rem;
  min-height: 100vh;
  border: 1px solid red;
}
@media screen and (max-width: 60rem) {
  .wrapper__posts {
    grid-template-columns: 1fr;
  }
}
.wrapper__posts--article {
  background-color: rgba(211, 226, 242, 0.5);
}
.wrapper__header {
  padding: 8.5rem 3.5rem;
}
@media screen and (max-width: 60rem) {
  .wrapper__header {
    padding: 3.5rem 1.85rem;
  }
}
.wrapper__header--inner {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 60rem;
  margin: 0 auto;
}
@media screen and (max-width: 60rem) {
  .wrapper__header--inner {
    flex-direction: column-reverse;
  }
}
.wrapper__header--inner__desc {
  font-family: var(--body-font);
}
@media screen and (min-width: 60rem) {
  .wrapper__header--inner__desc {
    margin-right: 5rem;
  }
}
.wrapper__header--inner__desc h1 {
  font-size: 1.65em;
  font-weight: normal;
  font-family: var(--heading-font);
  margin-bottom: 1rem;
}
.wrapper__header--inner__desc p {
  color: var(--body-color);
}
.wrapper__header--inner__desc .btn-join {
  background-color: var(--primary-color);
  margin-top: 1.5rem;
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 0.85rem 1.25rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
@media screen and (max-width: 60rem) {
  .wrapper__header--inner__img {
    margin-bottom: 2.5rem;
  }
}
.wrapper__header--inner__img img {
  width: 100%;
}
.wrapper__featured {
  background-color: rgba(211, 226, 242, 0.5);
}
.wrapper__blog--inner__slideshow {
  margin: 1rem 0 0 0;
}
.wrapper__blog--inner__slideshow .grid-slideshow__img img {
  border: 2px solid var(--secondary-color);
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 350px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
@media screen and (max-width: 60rem) {
  .wrapper__blog--inner__slideshow .grid-slideshow__img img {
    height: 250px;
  }
}
.wrapper__blog--inner__slideshow .grid-slideshow__desc {
  padding: 0rem 1.85rem;
  max-height: 350px;
  overflow: hidden;
  font-size: 0.85em;
}
.wrapper__blog--inner__slideshow .grid-slideshow__desc h2 {
  font-family: var(--heading-font);
  color: var(--tertiary-color);
  font-weight: normal;
  font-size: 1.85em;
}
.wrapper__blog--inner__slideshow .grid-slideshow__desc .date {
  display: block;
  color: var(--article--body);
  margin-bottom: 1rem;
}
.wrapper__blog--inner__slideshow .grid-slideshow__desc a {
  color: var(--primary-color);
}
@media screen and (max-width: 60rem) {
  .wrapper__blog--inner__slideshow .grid-slideshow__desc {
    padding: 1.5rem 0rem;
    max-height: auto;
  }
}
.wrapper__blog--inner__slideshow .grid-slideshow__inner {
  display: grid;
  grid-template-columns: 30rem 1fr;
}
@media screen and (max-width: 60rem) {
  .wrapper__blog--inner__slideshow .grid-slideshow__inner {
    grid-template-columns: 1fr;
  }
}
.wrapper__featured, .wrapper__blog {
  padding: 6.5rem 3.5rem;
  font-family: var(--body-font);
}
@media screen and (max-width: 60rem) {
  .wrapper__featured, .wrapper__blog {
    padding: 2.5rem 1.85rem;
  }
}
.wrapper__featured--inner, .wrapper__blog--inner {
  max-width: 60rem;
  margin: 0 auto;
}
.wrapper__featured--inner__head, .wrapper__blog--inner__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.85rem;
}
.wrapper__featured--inner__head h1, .wrapper__blog--inner__head h1 {
  font-family: var(--heading-font);
  font-weight: normal;
}
.wrapper__featured--inner__head .btn-show, .wrapper__blog--inner__head .btn-show {
  display: inline-flex;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: var(--header-navigation-link);
  text-decoration: none;
  padding: 0.65rem 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.wrapper__featured--inner__head .btn-show svg, .wrapper__blog--inner__head .btn-show svg {
  vertical-align: middle;
}
.wrapper__featured--inner__head .btn-show .sr-hidden, .wrapper__blog--inner__head .btn-show .sr-hidden {
  margin-right: 0.5rem;
}
@media (max-width: 60rem) {
  .wrapper__featured--inner__head .btn-show .sr-hidden, .wrapper__blog--inner__head .btn-show .sr-hidden {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    width: 1px;
    margin: 0;
  }
}
.wrapper__featured--inner__content, .wrapper__blog--inner__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
}
@media screen and (max-width: 60rem) {
  .wrapper__featured--inner__content, .wrapper__blog--inner__content {
    grid-template-columns: repeat(1, 1fr);
  }
}
.wrapper__featured--inner__content .grid-content, .wrapper__blog--inner__content .grid-content {
  background-color: var(--article);
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.wrapper__featured--inner__content .grid-content--image, .wrapper__blog--inner__content .grid-content--image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;
}
.wrapper__featured--inner__content .grid-content .body__text, .wrapper__blog--inner__content .grid-content .body__text {
  padding: 2rem 2rem;
}
.wrapper__featured--inner__content .grid-content .body__text--p, .wrapper__blog--inner__content .grid-content .body__text--p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.85em;
  color: var(--article--body);
}
.wrapper__featured--inner__content .grid-content .body__text--p span:last-child, .wrapper__blog--inner__content .grid-content .body__text--p span:last-child {
  color: var(--heading-color);
}
.wrapper__featured--inner__content .grid-content .body__text--img, .wrapper__blog--inner__content .grid-content .body__text--img {
  margin-right: 0.85rem;
  vertical-align: middle;
  display: inline-block;
  height: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.wrapper__featured--inner__content .grid-content .body__text .btn-read, .wrapper__blog--inner__content .grid-content .body__text .btn-read {
  display: inline-block;
  margin-top: 1rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: var(--header-navigation-link);
  text-decoration: none;
  padding: 0.65rem 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.wrapper__featured--inner__content .grid-content .body__text h2, .wrapper__blog--inner__content .grid-content .body__text h2 {
  margin: 1rem 0;
  font-family: var(--heading-font);
  font-weight: normal;
}
@media screen and (max-width: 48rem) {
  .wrapper__featured--inner__content .grid-content .body__text h2, .wrapper__blog--inner__content .grid-content .body__text h2 {
    font-size: 1.25em;
  }
}

.tns-outer {
  position: relative;
}
.tns-outer [data-action] {
  display: none;
}

.tns-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 1.65rem 0;
}
@media screen and (max-width: 60rem) {
  .tns-nav {
    display: none;
  }
}
.tns-nav > button {
  width: 9px;
  height: 9px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: var(--tertiary-color);
  border: 0;
  opacity: 0.25;
}
.tns-nav > button.tns-nav-active {
  opacity: 1;
}

.tns-controls {
  width: 50%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  z-index: 9;
}
.tns-controls > button {
  background-color: var(--tertiary-color);
  color: var(--article);
  border: 0;
  padding: 1rem 1rem;
}
.tns-controls > button[disabled] {
  cursor: not-allowed;
  opacity: 0.35;
}
.tns-controls > button svg {
  vertical-align: middle;
}
@media screen and (max-width: 60rem) {
  .tns-controls {
    width: 100%;
    top: 25%;
    transform: translateY(-50%);
  }
}

.footer {
  font-family: var(--body-font);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.footer__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  max-width: 60rem;
  margin: auto;
  padding: 3.5rem 0rem;
}
@media screen and (max-width: 60rem) {
  .footer__inner {
    grid-template-columns: repeat(1, 1fr);
    padding: 2.85rem 1.85rem;
  }
}
.footer__inner--grid h2 {
  font-family: var(--heading-font);
  font-weight: normal;
  margin-bottom: 1.5rem;
}
.footer__inner--grid ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer__inner--grid ul li + li {
  margin-top: 0.35rem;
}
.footer__inner--grid ul li a {
  color: var(--header-navigation-link);
}
.footer__inner--grid__groupimg {
  display: flex;
}
.footer__inner--grid__groupimg img {
  height: 60px;
  border: 5px solid #ccc;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}
.footer__inner--grid__groupimg figure + figure {
  margin-left: -0.85rem;
}
.footer__copyright {
  margin-top: 1.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  color: var(--body-color);
  padding: 1rem 1rem;
}

@media screen and (max-width: 60rem) {
  html {
    font-size: 14px;
  }
}

/*# sourceMappingURL=main.css.map */
