@import "reset";
// @import "variables";
@import "mixins";

// custom properties
:root {
  --heading-font: "DM Serif Display", serif;
  --body-font: "DM Sans", sans-serif;

  --primary-color: #ff0969;
  --secondary-color: #d3e2f2;
  --tertiary-color: #0b379b;

  --header-navigation: #fff;
  --header-navigation-link: #111;

  --article: #fff;
  --article-heading: #111;
  --article--body: #666;

  --heading-color: #111;
  --body-color: #666;
}

body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

// customize the outline ring for keyboard user
*:focus {
  outline: 3px solid hsla(199, 28%, 24%, 0.7);
  outline-offset: 2px;
}

// hide the element visually
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: 1px;
  margin: 0;
}

// skip link
.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: 1px;
  z-index: 999999;
  font-family: var(--body-font);
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;

  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}

// header navigation
.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  font-family: var(--body-font);
  background-color: var(--header-navigation);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.85);
  }

  z-index: 999;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem;

    max-width: 75rem;
    margin: auto;

    @media screen and (max-width: 60rem) {
      padding: 1rem 1rem;
    }

    &--logo {
      img {
        height: 60px;

        @media screen and (max-width: 60rem) {
          height: 40px;
        }
      }
    }

    &--links {
      ul {
        display: flex;
        align-items: center;
        list-style: none;

        @media screen and (max-width: 60rem) {
          display: none;
        }

        li {
          &.btn-follow {
            a {
              display: block;
              padding: 0.5rem 1rem;
              text-decoration: none;
              color: var(--header-navigation-link);
              border: 1px solid rgba(0, 0, 0, 0.25);
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
              transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

              &:hover,
              &:focus {
                background-color: var(--primary-color);
                color: var(--header-navigation);
              }
            }
          }

          & + li {
            margin-left: 0.5rem;
          }

          &:not(.btn-follow) {
            a {
              position: relative;
              display: block;
              padding: 0.5rem 1rem;
              text-decoration: none;
              color: var(--header-navigation-link);
              transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);

              &:hover {
                &:before {
                  width: calc(100% - 32px);
                }
              }

              &:before {
                content: "";
                width: 0;
                height: 3px;
                position: absolute;
                bottom: 0;
                left: 16px;
                background-color: var(--primary-color);
                transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
              }
            }
          }
        }
      }
    }

    &--mobile {
      // position: relative;
      @media screen and (min-width: 60rem) {
        display: none;
      }

      button {
        background: transparent;
        cursor: pointer;
        border: 0;

        svg {
          vertical-align: middle;
        }
      }

      .wrapper__mobile {
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;

        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        min-height: 100vh;
        height: auto;
        background-color: var(--header-navigation);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        z-index: 9999;

        &.is-shown {
          opacity: 1;
          visibility: visible;
        }

        @media screen and (min-width: 60rem) {
          display: none;
        }

        li {
          margin-right: 1.85rem;
          margin-left: 1.85rem;

          &.close-btn {
            position: absolute;
            right: 0;
            top: 0;
            margin: 1.15rem;
          }

          &.btn-follow {
            a {
              display: inline-block;
              margin-top: 2rem; // custom margin

              span {
                padding: 0.85rem 1.25rem;
                text-decoration: none;
                color: var(--header-navigation-link);
                border: 1px solid rgba(0, 0, 0, 0.25);
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
              }
            }
          }

          & + li {
            margin-top: 1.5rem;
          }

          a {
            text-decoration: none;
            font-size: 1.25em;
            display: block;
            // padding: 0.85rem 1rem;
            color: var(--header-navigation-link);
          }
        }
      }
    }
  }
}

// wrapper for all elements below header navigation
.wrapper {
  margin-top: 6.75rem;

  &__posts {
    // max-width: 80rem;
    margin: 10rem auto 5rem auto;
    display: grid;
    grid-template-columns: 1fr 28rem;
    gap: 3.5rem;
    min-height: 100vh;
    max-width: 80rem;

    @media screen and (max-width: 60rem) {
      grid-template-columns: 1fr;
      padding: 0 1.5rem;
    }

    &--sidebar {
      .latest__c {
        font-family: var(--body-font);
        background: rgb(255, 9, 105);
        background: linear-gradient(
          120deg,
          rgba(255, 9, 105, 1) 0%,
          rgba(252, 159, 92, 1) 100%
        );
        // background-attachment: fixed;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
        padding: 1.85rem 1.95rem;

        &--inner {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          background-color: rgba(255, 255, 255, 0.75);
          -webkit-border-radius: 9px;
          -moz-border-radius: 9px;
          border-radius: 9px;
          padding: 1.35rem 1.95rem;
          counter-reset: section;

          li {
            position: relative;
            margin-left: 2.5rem;
            z-index: 2;

            &:hover {
              &:after {
                background: rgba(0, 0, 0, 0.08);
              }
            }

            &:after {
              content: "";
              position: absolute;
              left: -3.65rem;
              top: -0.65rem;
              width: calc(100% + 4.85rem);
              height: calc(100% + 1.25rem);
              background: rgba(0, 0, 0, 0);
              z-index: -1;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;

              transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
            }

            &:before {
              counter-increment: section;
              content: counter(section);
              position: absolute;
              left: -3.15rem;
              top: 0.05rem;
              width: 2.25rem;
              height: 2.25rem;
              text-align: center;
              padding: 0.35rem 0;
              background-color: #eee;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;

              font-weight: bold;
            }

            & + li {
              margin-top: 1.75rem;
            }
          }
        }

        h2 {
          color: #fff;
          margin-bottom: 0.85rem;
          text-transform: uppercase;
          font-size: 1.25em;
        }
      }
    }

    &--article {
      .posts {
        font-family: var(--body-font);
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.12);

        overflow: hidden;

        & + .posts {
          margin-top: 4.5rem;
        }

        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;

        &__answer {
          display: flex;
          flex-direction: column;
          background-color: #fff;
          padding: 1.85rem 0 0.5rem 0;
        }

        .question__p {
          padding: 0 1.85rem;
          margin-bottom: 1.5rem;
          width: 65%;

          &--inner {
            background: #ddd;
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            padding: 1.35rem 1.95rem;
          }

          &--asker {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            a {
              color: var(--header-links);
            }

            img {
              width: 40px;
              height: 40px;
              margin-right: 1rem;
              -webkit-border-radius: 6px;
              -moz-border-radius: 6px;
              border-radius: 6px;
            }
          }
        }

        .answerer__p {
          padding: 0 1.85rem;
          margin-bottom: 1.5rem;
          width: 65%;
          align-self: flex-end;

          &--inner {
            background: var(--secondary-color);
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            padding: 1.35rem 1.95rem;
          }
        }

        .answer__p {
          padding: 0 1.85rem;
          margin-bottom: 1.5rem;
          width: 65%;
          align-self: flex-end;

          &--inner {
            background: var(--secondary-color);
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            padding: 1.35rem 1.95rem;
          }

          a {
            color: var(--header-links);
          }
        }

        .body__text {
          padding: 3rem 3.5rem;

          h1 {
            font-family: var(--heading-font);
            font-weight: normal;
            font-size: 2em;
          }

          p {
            margin: 1rem 0;
          }

          .tmblr-full {
            margin: 3.5em -1.85rem;

            img {
              width: 100%;
              height: auto;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;
            }
          }
        }
      }
    }
  }

  &__header {
    padding: 8.5rem 3.5rem;

    @media screen and (max-width: 60rem) {
      padding: 3.5rem 1.85rem;
    }

    &--inner {
      display: flex;
      justify-content: center;
      align-items: center;

      max-width: 70rem;
      margin: 0 auto;

      @media screen and (max-width: 60rem) {
        flex-direction: column-reverse;
      }

      &__desc {
        font-family: var(--body-font);
        flex: 0 0 50%;

        @media screen and (min-width: 60rem) {
          margin-right: 5rem;
        }

        h1 {
          font-size: 1.65em;
          font-weight: normal;
          font-family: var(--heading-font);

          margin-bottom: 1rem;
        }

        p {
          color: var(--body-color);
        }

        .btn-join {
          background-color: var(--primary-color);
          margin-top: 1.5rem;
          color: white;
          display: inline-block;
          text-decoration: none;
          padding: 0.85rem 1.25rem;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;

          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12),
            0 2px 4px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

          &:focus,
          &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.18),
              0 4px 15px rgba(0, 0, 0, 0.14);
          }
        }
      }

      &__img {
        @media screen and (max-width: 60rem) {
          margin-bottom: 2.5rem;
        }
        img {
          width: 100%;
        }
      }
    }
  }

  &__featured {
    background-color: rgba(211, 226, 242, 0.5);
  }

  &__blog {
    &--inner {
      &__slideshow {
        margin: 1rem 0 0 0;

        .grid-slideshow {
          &__img {
            img {
              border: 2px solid var(--secondary-color);
              object-fit: cover;
              object-position: center;
              width: 100%;
              height: 350px;
              -webkit-border-radius: 8px;
              -moz-border-radius: 8px;
              border-radius: 8px;

              @media screen and (max-width: 60rem) {
                height: 250px;
              }
            }
          }

          &__desc {
            padding: 0rem 1.85rem;
            max-height: 350px;
            overflow: hidden;
            font-size: 0.95em;
            // background-color: var(--secondary-color);

            h2 {
              font-family: var(--heading-font);
              color: var(--tertiary-color);
              font-weight: normal;
              font-size: 1.85em;
            }

            .date {
              display: block;
              color: var(--article--body);
              margin-bottom: 1rem;
            }

            a {
              color: var(--primary-color);
            }

            @media screen and (max-width: 60rem) {
              padding: 1.5rem 0rem;
              max-height: auto;
            }
          }

          &__inner {
            display: grid;
            grid-template-columns: 35rem 1fr;

            @media screen and (max-width: 60rem) {
              grid-template-columns: 1fr;
            }
          }
        }
      }
    }
  }

  &__featured,
  &__blog {
    padding: 6.5rem 3.5rem;
    font-family: var(--body-font);

    @media screen and (max-width: 60rem) {
      padding: 2.5rem 1.85rem;
    }

    &--inner {
      max-width: 70rem;
      margin: 0 auto;

      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.85rem;

        h1 {
          font-family: var(--heading-font);
          font-weight: normal;
        }

        .btn-show {
          display: inline-flex;
          background-color: transparent;
          border: 1px solid rgba(0, 0, 0, 0.2);
          color: var(--header-navigation-link);
          text-decoration: none;
          padding: 0.65rem 1rem;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;

          svg {
            vertical-align: middle;
          }

          .sr-hidden {
            margin-right: 0.5rem;
            @media (max-width: 60rem) {
              clip: rect(1px, 1px, 1px, 1px);
              height: 1px;
              overflow: hidden;
              position: absolute;
              left: 0;
              top: 0;
              white-space: nowrap;
              width: 1px;
              margin: 0;
            }
          }
        }
      }

      &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;

        @media screen and (max-width: 60rem) {
          grid-template-columns: repeat(1, 1fr);
        }

        .grid-content {
          background-color: var(--article);
          overflow: hidden;
          position: relative;

          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

          &--image {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 300px;
          }

          .body__text {
            padding: 2rem 2rem;

            &--p {
              display: flex;
              align-items: center;
              justify-content: space-between;
              font-size: 0.85em;
              color: var(--article--body);

              span {
                &:last-child {
                  color: var(--heading-color);
                }
              }
            }

            &--img {
              margin-right: 0.85rem;
              vertical-align: middle;
              display: inline-block;
              height: 36px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
            }

            .btn-read {
              display: inline-block;
              margin-top: 1rem;
              background-color: transparent;
              border: 1px solid rgba(0, 0, 0, 0.2);
              color: var(--header-navigation-link);
              text-decoration: none;
              padding: 0.65rem 1rem;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
            }

            h2 {
              margin: 1rem 0;
              font-family: var(--heading-font);
              font-weight: normal;

              @media screen and (max-width: 48rem) {
                font-size: 1.25em;
              }
            }
          }
        }
      }
    }
  }
}

// slideshow on the blog section
.tns-outer {
  position: relative;

  [data-action] {
    display: none;
  }
}

.tns-nav {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  z-index: 2;

  display: flex;
  justify-content: center;
  padding: 1.65rem 0;

  @media screen and (max-width: 60rem) {
    display: none;
  }

  & > button {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: var(--tertiary-color);
    border: 0;
    opacity: 0.25;

    &.tns-nav-active {
      opacity: 1;
    }
  }
}

.tns-controls {
  width: calc(50% - 2px);
  position: absolute;
  display: flex;

  justify-content: space-between;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  z-index: 9;

  & > button {
    background-color: var(--tertiary-color);
    color: var(--article);
    border: 0;
    padding: 1rem 1rem;

    &[disabled] {
      cursor: not-allowed;
      opacity: 0.35;
    }

    svg {
      vertical-align: middle;
    }
  }

  @media screen and (max-width: 60rem) {
    width: 100%;
    top: 25%;
    transform: translateY(-50%);
  }
}

// footer
.footer {
  font-family: var(--body-font);
  border-top: 1px solid rgba(0, 0, 0, 0.1);

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;

    max-width: 70rem;
    margin: auto;
    padding: 3.5rem 0rem;

    @media screen and (max-width: 60rem) {
      grid-template-columns: repeat(1, 1fr);
      padding: 2.85rem 1.85rem;
    }

    &--grid {
      h2 {
        font-family: var(--heading-font);
        font-weight: normal;
        margin-bottom: 1.5rem;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          & + li {
            margin-top: 0.35rem;
          }

          a {
            color: var(--header-navigation-link);
          }
        }
      }

      &__groupimg {
        display: flex;

        img {
          height: 60px;
          border: 5px solid #ccc;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
        }

        figure {
          & + figure {
            margin-left: -0.85rem;
          }
        }
      }
    }
  }

  &__copyright {
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    color: var(--body-color);

    padding: 1rem 1rem;
  }
}

.capsule-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 1rem -0.5rem !important;
  padding: 0;

  li {
    display: block;
    margin: 0rem 0 1.5rem 0.5rem;

    & + li {
      margin-top: 0 !important;
    }

    a {
      padding: 0.45rem 0.95rem;
      font-size: 0.95em;
      text-decoration: none;
      background-color: var(--primary-color);
      color: white !important;
      -webkit-border-radius: 16px;
      -moz-border-radius: 16px;
      border-radius: 16px;
    }
  }
}

html {
  @media screen and (max-width: 60rem) {
    font-size: 14px;
  }
}
