@import "reset";
// @import "variables";
@import "mixins";

body {
  min-height: 100vh;
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: 1px;
  margin: 0;
}

:root {
  --heading-font: "DM Serif Display", serif;
  --body-font: "DM Sans", sans-serif;

  --primary-color: #ff0969;
  --secondary-color: #d3e2f2;
  --tertiary-color: #0b379b;

  --header-navigation: #fff;
  --header-navigation-link: #111;

  --article: #fff;
  --article-heading: #111;
  --article--body: #666;

  --heading-color: #111;
  --body-color: #666;
}

// skip link
.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  width: 1px;
  z-index: 99999;
  font-family: var(--body-font);
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;

  &:focus {
    clip: auto;
    height: auto;
    overflow: auto;
    position: absolute;
    width: auto;
  }
}

.nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  font-family: var(--body-font);
  background-color: var(--header-navigation);
  box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2);
  z-index: 999;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2.5rem;

    max-width: 65rem;
    margin: auto;

    &--logo {
      img {
        height: 60px;

        @media screen and (max-width: 60rem) {
          height: 40px;
        }
      }
    }

    &--links {
      ul {
        display: flex;
        align-items: center;
        list-style: none;

        @media screen and (max-width: 60rem) {
          display: none;
        }

        li {
          &.btn-follow {
            a {
              border: 1px solid rgba(0, 0, 0, 0.25);
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
            }
          }

          & + li {
            margin-left: 1.25rem;
          }

          a {
            display: block;
            padding: 0.5rem 1rem;
            text-decoration: none;
            color: var(--header-navigation-link);
          }
        }
      }
    }

    &--mobile {
      @media screen and (min-width: 60rem) {
        display: none;
      }

      button {
        svg {
          vertical-align: middle;
        }
      }
    }
  }
}

.wrapper {
  margin-top: 5rem;

  &__header {
    padding: 8.5rem 3.5rem;

    @media screen and (max-width: 60rem) {
      padding: 3.5rem 1.85rem;
    }

    &--inner {
      display: flex;
      justify-content: center;
      align-items: center;

      max-width: 60rem;
      margin: 0 auto;

      @media screen and (max-width: 60rem) {
        flex-direction: column-reverse;
      }

      &__desc {
        font-family: var(--body-font);

        @media screen and (min-width: 60rem) {
          margin-right: 5rem;
        }

        h1 {
          font-size: 1.65em;
          font-weight: normal;
          font-family: var(--heading-font);

          margin-bottom: 1rem;
        }

        p {
          color: var(--body-color);
        }

        .btn-join {
          background-color: var(--primary-color);
          margin-top: 1.5rem;
          color: white;
          display: inline-block;
          text-decoration: none;
          padding: 0.85rem 1.25rem;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;

          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1),
            0 6px 6px rgba(0, 0, 0, 0.2);
        }
      }

      &__img {
        @media screen and (max-width: 60rem) {
          margin-bottom: 2.5rem;
        }
        img {
          width: 100%;
        }
      }
    }
  }

  &__featured {
    background-color: var(--secondary-color);
    padding: 6.5rem 3.5rem;
    font-family: var(--body-font);

    @media screen and (max-width: 60rem) {
      padding: 3.5rem 1.85rem;
    }

    &--inner {
      max-width: 60rem;
      margin: 0 auto;

      &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1.85rem;

        h1 {
          font-family: var(--heading-font);
          font-weight: normal;
        }

        .btn-show {
          display: inline-flex;
          background-color: transparent;
          border: 1px solid rgba(0, 0, 0, 0.2);
          color: var(--header-navigation-link);
          text-decoration: none;
          padding: 0.65rem 1rem;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;

          svg {
            vertical-align: middle;
          }

          .sr-hidden {
            margin-right: 0.5rem;
            @media (max-width: 60rem) {
              clip: rect(1px, 1px, 1px, 1px);
              height: 1px;
              overflow: hidden;
              position: absolute;
              left: 0;
              top: 0;
              white-space: nowrap;
              width: 1px;
              margin: 0;
            }
          }
        }
      }

      &__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;

        @media screen and (max-width: 60rem) {
          grid-template-columns: repeat(1, 1fr);
        }

        .grid-content {
          background-color: var(--article);
          overflow: hidden;
          position: relative;

          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

          img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 300px;
          }

          .body__text {
            padding: 2rem 2rem;

            &--date {
              font-size: 0.85em;
              color: var(--article--body);
            }

            &--note {
            }

            .btn-read {
              display: inline-block;
              margin-top: 1rem;
              background-color: transparent;
              border: 1px solid rgba(0, 0, 0, 0.2);
              color: var(--header-navigation-link);
              text-decoration: none;
              padding: 0.65rem 1rem;
              -webkit-border-radius: 10px;
              -moz-border-radius: 10px;
              border-radius: 10px;
            }

            h2 {
              font-family: var(--heading-font);
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

.footer {
  padding: 3.5rem 1.85rem;
  font-family: var(--body-font);

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;

    max-width: 60rem;
    margin: auto;

    @media screen and (max-width: 60rem) {
      grid-template-columns: repeat(1, 1fr);
    }

    &--grid {
      h2 {
        font-family: var(--heading-font);
        font-weight: normal;
        margin-bottom: 1.5rem;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          & + li {
            margin-top: 0.35rem;
          }

          a {
            color: var(--header-navigation-link);
          }
        }
      }

      &__groupimg {
        display: flex;

        img {
          height: 60px;
          border: 5px solid #ccc;
          -webkit-border-radius: 100%;
          -moz-border-radius: 100%;
          border-radius: 100%;
        }

        figure {
          & + figure {
            margin-left: -0.85rem;
          }
        }
      }
    }
  }
}

html {
  @media screen and (max-width: 60rem) {
    font-size: 14px;
  }
}
